{% load static %}
<!DOCTYPE html>
<html lang="zh" class="ui-mobile">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>错误页面</title>
    <style>
        .msg{
            text-align: center;
            padding-top: 30%;
            color: #fff;
            font-size: 55px;
        }
    </style>
</head>

<body style="background: #3d9d90;" >
<div data-role="page" id="expressBillSF" data-url="expressBillSF" tabindex="0"
     class="ui-page ui-page-theme-a ui-page-active" style="min-height: 675px;">
    <form action="{% url 'product:getReportEmail' %} " method="post">
        {% csrf_token %}
    <div>
        <label>
            <input name="id" value="{{ project_code }}" type="hidden">
            <input class="formContent_inp" type="text" id="Email" name="Email" placeholder="请输入接收报告邮箱">
            <button type="submit" id="btn" class="btn" data-role="none">接收邮件</button>
        </label>
    </div>]
    </form>
</div>
</body>
</html>