{% load static %}
<!DOCTYPE html>
<html lang="zh" class="ui-mobile">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>错误页面</title>
    <style>
        .msg{
            text-align: center;
            padding-top: 30%;
            color: #fff;
            font-size: 55px;
        }
    </style>
</head>

<body style="background: #3d9d90;" >
<div data-role="page" id="expressBillSF" data-url="expressBillSF" tabindex="0"
     class="ui-page ui-page-theme-a ui-page-active" style="min-height: 675px;">
    <h1 class="msg">{{ meg }}</h1>
</div>
</body>
</html>