    /*#region 兼容wp*/
@media screen and (orientation: portrait) {
    @-ms-viewport {
       width: 320px;
       user-zoom: fixed;
       max-zoom: 1;
       min-zoom: 1;
    }
}

@media screen and (orientation: landscape) {
    @-ms-viewport {
       width: 480px;
       user-zoom: fixed;
       max-zoom: 1;
       min-zoom: 1;
    }
}
/*#endregion*/
/*#region ios 禁用长按复制*/
* { 
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
} 
input,textarea { 
    -webkit-user-select: auto; 
}
/*#endregion*/
/*#region 重置元素*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li,pre, form, fieldset, legend, button, input, textarea, th, td{
    padding: 0;
    margin:0;
}
body,button, input, select, textarea,h1, h2, h3, h4, h5, h6,small{
    font: 1em/1.3 tahoma, arial,"\5b8b\4f53", sans-serif;
}
address, cite, dfn, em, var { 
    font-style:normal; 
} 
code, kbd, pre, samp {
     font-family: courier new, courier, monospace; 
} 
ul, ol { 
    list-style: none; 
    margin:0;
}
body,legend { 
    color:#666;
}
a,a:active,a:visited { 
    color:inherit;   
    text-decoration:none; 
}
sup { 
    vertical-align: super; 
} 
sub { 
    vertical-align: text-bottom;
}

fieldset, img { 
    border: 0; 
}
table { 
    border-collapse: collapse; 
    border-spacing: 0; 
    width:100%;
    word-break: break-all;
}
table th {
    font-weight:normal;
}
table th,table td {
    font-weight:normal;
    text-align:center;
} 
article, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section,summary, time, mark, audio, video {
    display: block;
    margin: 0;
    padding: 0;
}
img{
	vertical-align:middle;
    max-width:100%;
}
button{
    outline:none;
}
/*#endregion*/
/*#region 重定义jqureymobile*/
.ui-content.ui-content-full{
    padding:0;
}
.ui-loader .ui-icon-loading{
    background:url("../jQuery/images/ajax-loader.gif") no-repeat center center;
    background-size:cover;
}
.ui-header .ui-title,
.ui-footer .ui-title{
    margin:0 25%;
}
.ui-header, 
.ui-footer{
    border:none;
}
/*#endregion*/
/*#region clearfix*/
.clearfix:after{
    content:' ';
    display:block;
    clear:both;
    height:0;
    visibility:hidden;
}
/*#endregion*/
/*#region overlay*/
.ui-overlay-b{
    background-color:#252525;
}
/*#endregion*/
/*#region 屏幕大小兼容*/
@media screen and (min-width:4in) and (-webkit-min-device-pixel-ratio : 1){
   body{
        font-size:120%;
    }
}
@media screen and (min-width:6in) and (-webkit-min-device-pixel-ratio : 1){
   body{
        font-size:150%;
    }
}
/*#endregion*/
/*#region 弹窗*/
.ui-body-inherit.disappearDialog,.disappearDialog,
.ui-body-inherit.alertDialog,.alertDialog{
    background-color:rgba(0, 0, 0, 0.8);
    color:#fff;
    text-align:center;
    font-size:0.875em;
    padding:0;
    min-width:10em; 
    border-radius:0.25em;
    border:none;
}
.disappearDialog{
    z-index:10000;    
    position:fixed;
    display:inline-block;
    padding:1em;
    visibility:hidden;
    margin:0 1em;
}
.alertDialog-content{
    padding:1em;
}
.alertDialog-btns{
    background-color:rgba(255, 255, 255, 0.8);    
    border-bottom-left-radius:inherit;
    border-bottom-right-radius:inherit;
}

.alertDialog-btns a{
    color:#f60;
    font-weight:bold;
    display: block;
    padding: 0.5em 1em;
}
.ui-popup.dialogFrame{
    border:0;
}
.ui-body-inherit.confirmDialog,.confirmDialog{
    background-color:#000;
    padding:0;
    min-width:10em; 
    border-radius:0.25em;
    border:none;
    overflow:hidden;
}
.confirmDialog-content{
    min-width:13em;
    padding:1.5em 1em;
    color:#fff;
    line-height:1.5;
    text-align:center;
}
.confirmDialog-btns{
    border-bottom-left-radius:inherit;
    border-bottom-right-radius:inherit;
}
.confirmDialog-btns li{
    float:left;
    width:50%;
    border-radius:inherit;
}
.confirmDialog-btns .ui-btn{
    margin:0;
    padding:0.8em 0.5em; 
    background-color:#ddd;
    color:#333;
    border-radius:0;
    border-bottom-left-radius:inherit;
}
.confirmDialog-btns li:last-child .ui-btn {
    border-left:1px solid #aaa;
    color:#f60;
    border-bottom-left-radius:0;
    border-bottom-right-radius:inherit;
}
/*#endregion*/
/*#region form表单*/
.ui-input-text,
.ui-select{
    background-color:#fff;
    border:1px solid #ddd;
    border-radius:0.25em;
    color:#666;
    font-size:0.875em;
}
.ui-input-text input{
    color:#666;
}
.ui-select .ui-btn{
    font-size:1em;
    padding:0.4em 2em 0.4em 0.4em;
    text-align:left;
    position:relative;
}
.ui-select .ui-btn:before{
    content:' ';
    display:block;
    width:0;
    height:0;
    position:absolute;
    right:0.5em;
    top:50%;
    margin-top:-0.25em;
    border-style:solid;
    border-width:0.7em 0.5em;
    border-color:#ddd transparent transparent transparent;
    overflow:hidden;
}
.ui-select .ui-btn:after{
    content:' ';
    width:0;
    position:absolute;
    top:1px;
    bottom:1px;
    display:block;
    right:2em;
    border-left:1px solid #eee;
    overflow:hidden;
    height:auto;
    margin:0;
}
.ui-field-contain label,
.ui-controlgroup-label{
    font-size:0.875em;
    color:#666;
}
.ui-controlgroup-label legend{
    color:#666;
}
.ui-field-contain:after{
    content:' ';
    display:block;
    clear:both;
    height:0;   
}
.ui-field-contain{
    padding:0.5em 0;
    margin:0;
}
.ui-field-contain > label,
.ui-field-contain .ui-controlgroup-label{
    width:22%;
    float:left;
    padding-top:0.4em;
    padding-bottom:0.4em;
    margin:0;
}
.ui-field-contain > label ~ [class*="ui-"],
.ui-field-contain .ui-controlgroup-controls,
.ui-field-contain .field-text{
    width:75%;
    float:left;
}
.ui-field-contain .field-text{
    color:#666;
    font-size:0.75em;
    padding:0.4em 0;
}
.ui-field-contain > label.error{
    width:auto;
    float:none;
    clear:left;
    margin-left:22%;
    padding-top:0.3125em;
    color:#f00;
    font-weight:normal;
    padding-left:0.4em;
}
label.error{
    color:#f60;
    font-size:0.75em;
    margin:0;
}
.ui-radio input{
    visibility:hidden;
}
.ui-radio .ui-btn{
    position:relative;
    padding:0.4em 1em 0.4em 1.5em;
    color:#666;
    margin-right:0.5em;
    font-size:0.875em;
}
.ui-radio .ui-btn.ui-btn-icon-right{
    padding-left:1em;
}
.ui-radio .ui-btn:before{
    content:' ';
    display:block;
    position:absolute;
    left:0;
    top:50%;
    width:1em;
    height:1em;
    margin-top:-0.5em;
}
.ui-radio .ui-btn.ui-btn-icon-right:before{
    position:absolute;
    right:0;
    left:auto;
}

@media screen and (max-width: 290px) {
    .ui-field-contain > label,
    .ui-field-contain .ui-controlgroup-label{
        width:auto;
        float:none;
        padding-top:0;
        display:block;
    }
    .ui-field-contain > label ~ [class*="ui-"],
    .ui-field-contain .ui-controlgroup-controls{
        width:100%;
        float:none;
    }
    .ui-field-contain > label.error{        
        margin-left:0;
    }
}
.ui-btn:disabled,
.ui-btn.disabled,
a.disabled{
    opacity:0.5;
}
/*#endregion*/
/*#region 其他*/
.j_TabContent{
    display:none;
}
/*#endregion*/