@font-face {
  font-family: 'nhicofont';
  src:  url('fonts/nhicofont.eot?gfeuov');
  src:  url('fonts/nhicofont.eot?gfeuov#iefix') format('embedded-opentype'),
    url('fonts/nhicofont.ttf?gfeuov') format('truetype'),
    url('fonts/nhicofont.woff?gfeuov') format('woff'),
    url('fonts/nhicofont.svg?gfeuov#nhicofont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="nhicofont-"], [class*=" nhicofont-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'nhicofont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nhicofont-hint_1:before {
  content: "\e900";
}
.nhicofont-phone_1:before {
  content: "\e901";
}
.nhicofont-lock_1:before {
  content: "\e902";
}
.nhicofont-user_1:before {
  content: "\e903";
}
.nhicofont-paysuccess_1:before {
  content: "\e904";
}
.nhicofont-coupon_1:before {
  content: "\e905";
}
.nhicofont-address_1:before {
  content: "\e906";
}
.nhicofont-order_1:before {
  content: "\e907";
}
.nhicofont-alipay2 .path1:before {
  content: "\e908";
  color: rgb(83, 104, 141);
}
.nhicofont-alipay2 .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(83, 104, 141);
}
.nhicofont-alipay2 .path3:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(242, 148, 41);
}
.nhicofont-bank-alipay .path1:before {
  content: "\e90b";
  color: rgb(0, 0, 0);
}
.nhicofont-bank-alipay .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.nhicofont-bank-alipay .path3:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(83, 104, 141);
}
.nhicofont-bank-alipay .path4:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(83, 104, 141);
}
.nhicofont-bank-alipay .path5:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(242, 148, 41);
}
.nhicofont-cash .path1:before {
  content: "\e910";
  color: rgb(235, 152, 139);
}
.nhicofont-cash .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.nhicofont-qq .path1:before {
  content: "\e912";
  color: rgb(0, 0, 0);
}
.nhicofont-qq .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(190, 113, 43);
}
.nhicofont-qq .path3:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(229, 99, 39);
}
.nhicofont-qq .path4:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.nhicofont-qq .path5:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(229, 99, 39);
}
.nhicofont-qq .path6:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(190, 113, 43);
}
.nhicofont-qq .path7:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.nhicofont-qq .path8:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(4, 0, 0);
}
.nhicofont-qq .path9:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.nhicofont-qq .path10:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.nhicofont-qq .path11:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.nhicofont-qq .path12:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.nhicofont-qq .path13:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.44;
}
.nhicofont-qq .path14:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(221, 41, 38);
}
.nhicofont-qq .path15:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.nhicofont-qq .path16:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.nhicofont-qq .path17:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.nhicofont-qq .path18:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.nhicofont-qq .path19:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(229, 99, 39);
}
.nhicofont-qq .path20:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(157, 56, 36);
}
.nhicofont-qq .path21:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(8, 33, 61);
}
.nhicofont-qq .path22:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(34, 31, 32);
}
.nhicofont-qq .path23:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.nhicofont-qq .path24:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.nhicofont-qq .path25:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(8, 33, 61);
}
.nhicofont-qq .path26:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(34, 31, 32);
}
.nhicofont-qq .path27:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.nhicofont-qq .path28:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.nhicofont-weixin .path1:before {
  content: "\e92e";
  color: rgb(0, 0, 0);
}
.nhicofont-weixin .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.nhicofont-weixin .path3:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(50, 51, 51);
}
.nhicofont-weixin .path4:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(50, 51, 51);
}
.nhicofont-weixin .path5:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(50, 51, 51);
}
.nhicofont-weixin .path6:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(50, 51, 51);
}
.nhicofont-Vcode1:before {
  content: "\e934";
}
.nhicofont-Vcode3:before {
  content: "\e935";
}
.nhicofont-Vcode2:before {
  content: "\e936";
}
.nhicofont-phone:before {
  content: "\e937";
}
.nhicofont-coupon:before {
  content: "\e938";
}
.nhicofont-more:before {
  content: "\e939";
}
.nhicofont-list:before {
  content: "\e93a";
}
.nhicofont-ok:before {
  content: "\e93b";
}
.nhicofont-staroff:before {
  content: "\e93c";
}
.nhicofont-staron:before {
  content: "\e93d";
}
.nhicofont-man:before {
  content: "\e93e";
}
.nhicofont-member:before {
  content: "\e93f";
}
.nhicofont-lock3:before {
  content: "\e940";
}
.nhicofont-lock:before {
  content: "\e941";
}
.nhicofont-f:before {
  content: "\e942";
}
.nhicofont-edit2:before {
  content: "\e943";
}
.nhicofont-edit:before {
  content: "\e944";
}
.nhicofont-checkoff:before {
  content: "\e945";
}
.nhicofont-checkon:before {
  content: "\e946";
}
.nhicofont-account:before {
  content: "\e947";
}
.nhicofont-angle-d:before {
  content: "\e948";
}
.nhicofont-angle-r:before {
  content: "\e949";
}
.nhicofont-next:before {
  content: "\e94a";
}
.nhicofont-back:before {
  content: "\e94b";
}
.nhicofont-radiooff:before {
  content: "\e94c";
}
.nhicofont-search:before {
  content: "\e94d";
}
.nhicofont-radioon:before {
  content: "\e94e";
}
.nhicofont-bag:before {
  content: "\e94f";
  color: #b55e5e;
}
.nhicofont-bank:before {
  content: "\e950";
  color: #d41e19;
}
.nhicofont-call:before {
  content: "\e951";
}
.nhicofont-cate:before {
  content: "\e952";
}
.nhicofont-check:before {
  content: "\e953";
}
.nhicofont-date:before {
  content: "\e954";
}
.nhicofont-delete:before {
  content: "\e955";
}
.nhicofont-flag:before {
  content: "\e956";
}
.nhicofont-image:before {
  content: "\e957";
  color: #666;
}
.nhicofont-integral:before {
  content: "\e958";
}
.nhicofont-lock2:before {
  content: "\e959";
}
.nhicofont-modfy:before {
  content: "\e95a";
}
.nhicofont-msg:before {
  content: "\e95b";
}
.nhicofont-order:before {
  content: "\e95c";
}
.nhicofont-order2:before {
  content: "\e95d";
}
.nhicofont-pengyouquan:before {
  content: "\e95e";
}
.nhicofont-saoyisao:before {
  content: "\e95f";
}
.nhicofont-share:before {
  content: "\e960";
}
.nhicofont-wc:before {
  content: "\e961";
}
.nhicofont-about:before {
  content: "\e962";
}
.nhicofont-address:before {
  content: "\e963";
}
.nhicofont-alipay .path1:before {
  content: "\e964";
  color: rgb(83, 104, 141);
}
.nhicofont-alipay .path2:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(83, 104, 141);
}
.nhicofont-alipay .path3:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(242, 148, 41);
}
.nhicofont-atm:before {
  content: "\e967";
  color: #ac2224;
}
.nhicofont-bank-zhongyin:before {
  content: "\e968";
  color: #9c1f24;
}
.nhicofont-exchange:before {
  content: "\e969";
}
.nhicofont-favorable:before {
  content: "\e96a";
}
.nhicofont-location:before {
  content: "\e96b";
}
.nhicofont-person:before {
  content: "\e96c";
}
.nhicofont-record:before {
  content: "\e96d";
}
.nhicofont-shop:before {
  content: "\e96e";
}
.nhicofont-sofa:before {
  content: "\e96f";
}
.nhicofont-wifi:before {
  content: "\e970";
}
.nhicofont-bank-nongye:before {
  content: "\e971";
  color: #067e69;
}
.nhicofont-bank-weixin .path1:before {
  content: "\e972";
  color: rgb(68, 176, 53);
}
.nhicofont-bank-weixin .path2:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(68, 176, 53);
}
.nhicofont-bank-weixin .path3:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(68, 176, 53);
}
.nhicofont-bank-weixin .path4:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(68, 176, 53);
}
.nhicofont-bank-weixin .path5:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(68, 176, 53);
}
.nhicofont-bank-weixin .path6:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.nhicofont-bank-weixin .path7:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.nhicofont-home:before {
  content: "\e979";
}
.nhicofont-new:before {
  content: "\e97a";
}
.nhicofont-place:before {
  content: "\e97b";
}
.nhicofont-wxpyq .path1:before {
  content: "\e97c";
  color: rgb(255, 255, 255);
}
.nhicofont-wxpyq .path2:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(114, 200, 215);
}
.nhicofont-wxpyq .path3:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(233, 174, 90);
}
.nhicofont-wxpyq .path4:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(232, 214, 93);
}
.nhicofont-wxpyq .path5:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(180, 212, 97);
}
.nhicofont-wxpyq .path6:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(121, 191, 89);
}
.nhicofont-wxpyq .path7:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(93, 149, 208);
}
.nhicofont-wxpyq .path8:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(87, 88, 165);
}
.nhicofont-wxpyq .path9:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(230, 115, 89);
}
.nhicofont-wxpyq .path10:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.nhicofont-wxpyq .path11:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.nhicofont-china-unionpay .path1:before {
  content: "\e987";
  color: rgb(225, 0, 42);
}
.nhicofont-china-unionpay .path2:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(0, 66, 128);
}
.nhicofont-china-unionpay .path3:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(0, 122, 138);
}
.nhicofont-china-unionpay .path4:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.nhicofont-china-unionpay .path5:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.nhicofont-china-unionpay .path6:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.nhicofont-china-unionpay .path7:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.nhicofont-china-unionpay .path8:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.nhicofont-china-unionpay .path9:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.nhicofont-china-unionpay .path10:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.nhicofont-china-unionpay .path11:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.nhicofont-china-unionpay .path12:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.nhicofont-china-unionpay .path13:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.nhicofont-china-unionpay .path14:before {
  content: "\e994";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.nhicofont-china-unionpay .path15:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.nhicofont-china-unionpay .path16:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.nhicofont-china-unionpay .path17:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.nhicofont-china-unionpay .path18:before {
  content: "\e998";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.nhicofont-china-unionpay .path19:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.nhicofont-china-unionpay .path20:before {
  content: "\e99a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.nhicofont-china-unionpay .path21:before {
  content: "\e99b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
